*{
    margin: 0px;
    scroll-behavior: smooth;
    }
   
    body{
       background: #D3CCE3;  /* fallback for old browsers */
       background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
       background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
       
   }
   
   nav{
   background-color:rgb(31,26,26) ;
   width:100%;
   height:60px;
   margin-bottom: 30px;
   position: fixed;
   overflow: hidden;
   top: 0;
   z-index: 1;
   box-shadow: 0px 3px 1.7em purple;
   
    }
   
    nav div{
    text-align: center;
    width: 100%;
    }
    nav div a{
    text-decoration: none;
    line-height:60px ;
    color: white;
    font-size: 1.3rem;
    padding: 9px 25px;
    margin-right:20px;
    }
   #logo{
   float:left;
   line-height:60px;
   width: 0%;
   font-family: 'Kalam', cursive;
   font-family: 'Satisfy', cursive;
   font-size: 2.3rem;
   padding-left: 20px;
   color:purple;
   -webkit-text-stroke: 0.5px white ;
   }
   nav div a:hover{
   font-size:1.5rem;
   border-bottom: 3px solid white;
   color:purple;
   
   
   }
   
   footer{
       margin-top: 950px;
       background-color:rgb(31,26,26) ;
       width: 100%;
       height: 250px;
       
       position: relative;
       top: 500px;
       bottom: 0px;
       
   
   
   }
   footer div div:nth-of-type(2) a img{
   width: 40px;
   height: 40px;
   padding: 12px 8px;
   
   }
   
   footer div div:nth-of-type(2) a{
       
       display: inline-block;
      
       }
   
       footer div {
          
           
           text-align: center;
           display: flex;
           justify-content: space-around;
           
           
       }
   
       footer div div{
           display: block;
       }
       footer div div h2{
   color: white;
   border-bottom: 2px purple solid;
   padding-top: 25px;
   padding-bottom: 7px;
   margin-top: 10px;
       }
   
       footer div div p{
           margin-top: 10px;
           color: white;
           padding: 15px;
       }
   
       footer div div img{
           margin-top: 10px;
           color: white;
           padding: 15px;
       }
   
       footer div div:nth-of-type(2) a img:hover{
           width: 50px;
           height: 50px;
           border-bottom: 3px white solid;
       }
   
       footer article{
           position: absolute;
           top: 210px;
           width: 100%;
           height: 25px;
           background-color: rgb(85, 81, 81);
           /* display:flex;
           justify-content: space-around; */
           color: white;
           line-height: 25px;
           padding: 8px 0px;
           
       }
   
       footer article div{
           margin-right: 52px;
       }

   .mainDiv .secondDiv .slide img{
   width:100%;
   height:550px;
   object-fit: cover;
   
   
   }
   .mainDiv{
   width:100%;
   height:550px;
   overflow: hidden;
   position: absolute;
   bottom: 129px;
   box-shadow: 0px -5px 1.7em purple;
   }
   .navigation{
   position: absolute;
   bottom: 35px;
   left:50%;
   transform:translateX(-50%);
   display:flex;
   }
   .bar{
   width:20px;
   height:20px;
   border:1.8px solid black;
   border-radius: 50%;;
   margin:6px;
   cursor:pointer;
   transition: 0.4s;
   }
   .bar:hover{
       background-color:rgb(85, 81, 81);
   }
   input[name="r"]{
   position: absolute;
   visibility: hidden ;
   }
   .secondDiv{
   width:500%;
   height: 100%;
   display:flex;
   }
   .slide{
   width:20%;
   transition: 0.6s;;
   
   }
   .slide img{
   width:100%;
   height:100%;
   
   }
   #r1:checked ~ .s1{
   margin-left: 0;
   } 
   #r2:checked ~ .s1{
       margin-left: -20%;
   } 
   #r3:checked ~ .s1{
       margin-left: -40%;
       } 
    #r4:checked ~ .s1{
    margin-left: -60%;
           } 
    #r5:checked ~ .s1{
    margin-left:-80% ;
               } 
   
    #fContent{
        position: absolute;
        top: 650px;
       left: 50%;
       transform: translatex(-50%);
       color: black;
       border-bottom: 3px solid purple;
       padding: 5px 10px;
       margin: 10px 0px;
        
    }    
   
   .homeCard{
       /* background-color: red; */
       width: 100%;
       height: 540px;
       position: relative;
       top: 700px;
       display: flex;
       justify-content: space-around;
   }
   
    .cards img{
   width: 320px;
   height: 250px;
   /* padding: 10px; */
   padding-bottom: 10px;
    }
   
    .cards{
       text-align: center;
        width: 320px;
        height: 480px;
        margin-top: 80px;
        margin-bottom: 30px;
        background-color: white;
        overflow: hidden;
        box-shadow: 0px 5px 1.7em grey;
    }
   
    .cards div:nth-of-type(1){
       overflow: hidden;
       height:260px;
    }
   
    .cards div img:hover{
    height: 270px;
    width:350px;
    margin-left: -10px;
    opacity: 0.8;
    }
   
   .cards div:nth-of-type(2){
   padding: 10px;
   }
   
   aside img{
   width:600px;
   border: 7px solid grey;
   border-radius: 12px;
   
   }
   
   aside img:hover {
       opacity: 0.9;
   
   }
   
   #last{
   position: relative;
   top:880px;
   display: flex;
   padding: 0px 0px;
   }
   article p{
   padding:40px 80px 40px 0px;
   font-size: larger;
   }
   
   aside{
   padding:0px 80px;
   }
   
   #button{
   background-color: rgb(31,26,26);
   color: white;
   text-align: center;
   width: 220px;
   height:44px;
   border-radius: 20px;
   position: absolute;
   left: 72%;
   transform:translateX(-50%);
   cursor: pointer;
   font-size: 1.1rem;
   
   }
   #button:hover{
   /* background-color:rgb(85, 81, 81); */
   font-size: 1.2rem;
   box-shadow: 0px 5px 1.7em purple;
   
   }
   /*product page*/
   
   #backgroundImg{
   background-image: url(img/purple1.jpg);
   width:100%;
   height:550px;
   position: absolute;
   top:60px;
   background-size: cover;
   box-shadow: 0px -5px 1.7em purple;
   
   }
   #backgroundImg #productTitle{
   display: inline-block;
   line-height: 550px;
   position: absolute;
   left:50%;
   transform:translateX(-50%);
   font-size: 59px;
   font-family: 'Pacifico', cursive;
   color:purple;
   -webkit-text-stroke: 0.9px white ;
   }
   
   .productMainDiv .productSecondDiv .productSlide img{
       width:250px;
       height:230px;
       object-fit: cover;
       
       }

       .productMainDiv{
       width:90%;
       height:300px;
       overflow: hidden;
       /* display: flex;
       justify-content:space-between; */
       position: absolute;
       top: 780px;
       left: 50%;
       transform:translateX(-50%);
       box-shadow: 0px -5px 1.7em purple;
       }
       .productNavigation{
       position: absolute;
       bottom: 0px;
       left:50%;
       transform:translateX(-50%);
       display:flex;
       }
       .productBar{
       width:20px;
       height:10px;
       border:2px solid black;
       border-radius: 10%;;
       margin:9px;
       cursor:pointer;
       transition: 0.4s;
       }
       .productBar:hover{
           background-color:rgb(85, 81, 81);
       }

       .productSecondDiv input[name="r"]{
       position: absolute;
       visibility: hidden ;
       }
       .productSecondDiv{
        width:200%;
        margin: 4px 30px;
        height: 100%;
        display:flex;
       }

       .productSlide{
       width:12%;
       transition: 0.6s;;
       
       }
       .productSlide img{
       width:100%;
       height:100%;
       
       }
       #r1Product:checked ~ .s1Product{
       margin-left: 1.5%;
       } 
       #r2Product:checked ~ .s1Product{
           margin-left: -47%;
           /* margin-right: 1%; */
       } 
       /* #r3:checked ~ .s1Product{
           margin-left: -40%;
           } 
        #r4:checked ~ .s1Product{
        margin-left: -60%;
               } 
        #r5:checked ~ .s1Product{
        margin-left:-80% ;
                   }  */
       
   
   
   
   